.section {
  padding: 70px 0;
  position: relative;
  background-color: #FFFFFF;
}

.section-centered {
  margin: auto;
  width: 50%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.section-with-space {
  padding: 60px 0;
}

.section-gray {
  background-color: #EEEEEE;
}

.section-nude {
  background-color: $bg-nude;
}

.section-gold {
  background-color: #caac90;
  color: $white-color;
}

.section-brown {
  background-color: #A59E94;
  color: $white-color;
}

.section-light-blue {
  background-color: white;
  color: $blueENG;
}

.section-light-bck {
  background-color: white;
  color: $blueENG;
  background-image:
    linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),
    url(../../assets/img/galery/007.jpg);
  background-size: cover;
  background-position: center center;
}

.section-dark-blue {
  background-color: $blueENG;
  color: white;
}

.section-dark-blue-bck {
  background-color: $blueENG;
  color: white;
  background-image:
    linear-gradient(
      rgba(4, 30, 66, 0.95),
      rgba(0, 0, 0, 0.9)
    ),
    url(../../assets/img/galery/003.jpg);
  background-size: cover;
  background-position: center center;
}

.section-dark {
  background-color: #0b1011;
  color: $white-color;

}

.section-dark-bck {
  background-color: #0b1011;
  color: $white-color;
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.85),
      rgba(0, 0, 0, 0.9)
    ),
    url(../../assets/img/galery/006.jpg);
  background-size: cover;
  background-position: center center;
}

.section-image,
.section-gold,
.section-dark {
  position: relative;

  .title,
  .info-title,
  .card-plain .card-title {
    color: $white-color !important;
  }

  .category,
  .description,
  .card-plain .card-description,
  .card-plain .card-category {
    color: rgba($white-color, .7);
  }

  hr {
    border-color: rgba(255, 255, 255, 0.19);
  }
}

.page-header,
.carousel-caption {
  .title,
  .info-title {
    color: $white-color;
  }
}

[class*="features-"],
[class*="team-"],
[class*="projects-"],
[class*="pricing-"],
[class*="testimonials-"],
[class*="contactus-"] {
  padding: 80px 0;
}

.section-image {
  background-position: center center;
  background-size: cover;

  &:before {
    background-color: rgba(0, 0, 0, 0.5);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  & .container {
    position: relative;
    z-index: 2;
  }
}

.section-login {
  min-height: 700px;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ CSS styles go here */
  .page-header {
    .content-center {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -75%);
    }

    .presentation-title {
      background: none !important;
    }
  }
}


[class*="features-"],
[class*="team-"],
[class*="projects-"],
[class*="pricing-"],
[class*="testimonials-"],
[class*="contactus-"] {
  padding: 80px 0;
}

.section-image {
  background-position: center center;
  background-size: cover;

  &:before {
    background-color: rgba(0, 0, 0, 0.5);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  & .container {
    position: relative;
    z-index: 2;
  }
}
